<p>The sole purpose of an ad spot is to expose Yahoo APT per ad parameters to
the end-user using a form. Additionally, the flexibility to place ads on the page using the
internal Drupal block system. The process of creating an ad spot starts with visiting the <a href="###">ad spot page</a>.</p>

<img src="&path&advanced/assets/img/ad_list.gif" width="600" height="212" alt="adspot datagrid" />

<p>Once viewing this page there will be a link/button in the upper left corner that says <b>Create New Ad spot</b>. Click
that link to begin creating a new ad spot. Once the link is clicked it will bring you to a form. The form will include several sections
for data input.</p>

<h2>Naming</h2>

<img src="&path&advanced/assets/img/ad_form_name_focus.gif" width="575" height="226" alt="ad form name focus" />

<p>The most important of which to start is the ad spot name. A name should be defined that
identifies the purpose of the ad. For example, in some cases an ad will be used on every page. Therefore, the name should
likely describe the intended position on the page such as; top, bottom, left, rail, etc.</p>

<p>On the other hand, there are cases
where one might need to create an ad for a specific promotion that has an expiration date or is only shown on
specific pages. In that case it would probably be best to use a name that describes the promotion, ad campaign, etc rather
than the position.</p>

<p>Of course these are all <b>general</b> guide lines. In reality the name can be anything you want it to be. Though
for the sake of other people that may need to manage ads have some type of descriptive name. The only requirement is that all
ad spots have different names. The same name can't be used for multiple ad spots. In fact the system will not allow two
ad spots to be created with the same name.</p>

<h2>Sizes and Priority</h2>

<img src="&path&advanced/assets/img/ad_form_sizes_tab.gif" width="700" height="176" alt="ad sizes" />

<p>The second most important details are ad sizes. To specify sizes for an ad click on "Sizes" in the left
side tab menu. Once the link is clicked a table will be shown. Below the table there will be three fields:</p>

<ul>
	<li>width</li>
	<li>height</li>
	<li>priority</li>
</ul>

<p>An ad always requires at least one size. Ad sizes must have a <b>width</b> and <b>height</b> defined. Once a width and height is typed
into the proper input boxes clicking the "Add Size" button to the right will prepare the size to be saved along with the other ad spot
data. However, until the "Save Ad" button is clicked at the bottom of the form no changes will take effect including
the addition or removal of ad sizes.</p>

<p>In theory an ad can have any number of sizes. However, when specifying sizes one must take care in defining dimensions that might break
the layout which is only compatible with certain dimensions for where an ad is contained. For example, when an ad spot resides inside the 
right rail region which is 300px wide specifying an ad with a width of 700px would flow out of the rail region and break the layout.</p>

<p>The optional <b>priority</b> field can also be used to weight ad sizes differently. The purpose of the priority field is to control the percentage
ad sizes are served. For example, one would use the priority option when a single ad size is to be shown 75% and another 25% of the time. One
ad size would have 75 specified and the other 25 specified for priority. However, if there are two ad sizes and only one specifies a percentage than the remainder
of 100 would be distributed throughout the rest of the sizes using the remainder of the sum for the ad sizes with defined priorities.</p>

<p>A practical example is three
ads. Where one is 100x200 with a priority of 25, two 100x150 no priority and three 200x400 no priority. In this case 100 - 25 = 75. Therefore, ad size 
two and three would be shown 75/2 which is roughly 27 percent of the time. The first ad size would be shown 25% of the time as defined in the priority field.</p>

<p>The important thing to know about ad size priority is that a single ad size
with a priority automatically turns the function on. So when there are 5 sizes, yet only one defines a priority the functionality is turned on. Two
the function is not offered by APT and is handled internally by the application. Yahoo APT does not provide this service so it must be virtually achieved
through what can be considered a <b>loose algorithm</b>.</p>

<p>When no sizes implement a priority all sizes will be passed to APT allowing APT to choose the best one based on its own algorithm. When even a single
ad size implements priority only a single ad size will be passed to APT.</p>

<h2>Other Per Ad Parameters</h2>

<p>All other options mirror those provided by Yahoo APT per-ad parameters. If the options look unfamiliar than the Yahoo APT Ad call
documentation should be read. The Yahoo APT documentation clearly discusses the purpose of the rest of the options exposed 
through the form.</p>

