<p>The yahoo apt module can be used to manage yahoo apt ads for the site. Yahoo Apt module
provides a powerful, robust and easy to use system that exposes APT native shared and
per ad parameters through a series of forms. This enables any end user to place ads and map
them to a specific configuration without requiring JavaScript knowledge.</p>

<p>That being said to use this module to its full potential one should already
be familiar with the Yahoo APT publisher ad call implementation. The module has been
developed in a way that closely mirrors the terminology and concepts set forth by Yahoo.
Lacking familiarity with common yahoo apt implementation terminology and concepts might
lead to confusion and misunderstanding of how things function.</p>

<p>Therefore, it is <strong>highly encouraged</strong> that before using this module the <a href="&path&advanced/assets/pdf/yahoo_apt_publisher_adcall_guide.pdf">Yahoo APT Publisher Ad Call: Implementation Guide</a> is
read and understood. Reading the guide will make using this module much easier and pleasant
though many forms provide descriptive text for options but nothing is better than the native Yahoo APT implementation docs.</p>

